h1 {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 5px;
}
h4 {
  text-transform: uppercase;
  border-bottom: 3px solid black;
  padding-top: 5px;
  padding-bottom: 15px;
}
h2 {
  border-bottom: 3px solid black;
}

